@font-face {
  font-family: 'Saira Condensed';
  src: url('/vendor/fonts/SairaCondensed-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('/vendor/fonts/Roboto-Thin.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Oswald';
  src: url('/vendor/fonts/Oswald-Light.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

html {
  font-size: 20px !important;
  --primary-colour: #f8f9fa;
  --primary-colour-rgb: 248, 249, 250;
  --text-colour: #f8f9fa;
  --background-colour: #000;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  background-color: var(--background-colour) !important;
  color: var(--text-colour) !important;
  padding-top: 3rem;
}

h2 {
  border-bottom: 2px solid var(--primary-colour) !important;
  padding-bottom: 0.5rem;
  margin-bottom: 1rem;
  color: var(--primary-colour) !important;
  font-family: 'Saira Condensed', sans-serif;
  font-weight: 800;
}

a {
  color: var(--primary-colour) !important;
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  color: var(--primary-colour) !important;
  text-decoration: underline;
}

footer {
  border-top: 0.5px solid var(--primary-colour) !important;
  background-color: var(--background-colour) !important;
  color: var(--bs-white) !important;
  font-size: 0.75rem;
}

.navbar {
  background-color: var(--background-colour) !important;
  box-shadow: 0 2px 4px rgba(255, 255, 255, 0.1);
}

.navbar .focus-ring:focus {
  box-shadow: rgba(var(--primary-colour-rgb), 0.5) 0 0 0 1px;
}

.navbar .navbar-nav .nav-link {
  color: var(--bs-white) !important;
  font-family: Oswald, sans-serif;
  font-weight: 400;
}

.navbar .social-icon {
  color: var(--bs-white) !important;
}

.navbar .navbar-nav .nav-link:hover, .navbar .social-icon:hover {
  color: var(--primary-colour) !important;
}

.logo {
  max-width: 150px;
}

.staff-picture {
  border-radius: 50%;
  border: 3px solid var(--primary-colour);
  width: 150px;
  height: 150px;
  object-fit: cover;
}

.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 1);
  z-index: 10000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinner {
  width: 50px;
  height: 50px;
  border: 6px solid var(--primary-colour);
  border-top: 6px solid #ffffff;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Hide loader after page load */
body.loaded .loader {
  display: none;
}
